name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.x
        bundler-cache: true
    - name: Install dependencies
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Lint check with Rubocop
      run: bundle exec rubocop
    - name: Test with RSpec
      run: |
        echo "LINE_ACCESS_TOKEN=TEST" > terashiy_bot/.env
        bundle exec rspec